<div class="nav">
	<span class="nav-button">
		<span></span>
		<span></span>
		<span></span>
	</span>
	<div class="nav-list">
		<span class="logo">
		<img src="/images/logo.png">
		</span>
		<ul class="f20">
			<li class="active"><a href="#home">首页</a></li>
			<li><a href="#how">我们能做什么</a></li>
			<li><a href="#land">场景应用</a></li>
			<li><a href="#intro">案例展示</a></li>
		</ul><div class="foot">
		<img src="/images/arrow.png">
	</div>
	</div>
	
</div>