<div class="opera">
	<span class="mesage">
		<a  class="pc"  href="tencent://message/?uin=123680811&Site=http://www.yiwentianxia.com&Menu=yes">
		<img src="/images/icon-sell.png">
		</a>
		<a class="mobile"   href="mqqwpa://im/chat?chat_type=wpa&uin=123680811&version=1&src_type=web&web_src=yiwentianxia.com">
		<img src="/images/icon-sell.png">
		</a>
	</span>
	<span class="tel" >
	<a href="tel://13868006576"><img src="/images/icon-tel.png"/></a>	
		
	</span>
</div>