<div class="home" id="home">
<div class="banner">
	<div class="info">
		<h1>
			让用户 <b>触手可及</b>
		</h1>
		<p>助力商家快速享受移动互联网的红利盛宴</p>
		<p>匠心式开发理念 扁平化设计视界 切入式场景营销</p>
		<p class="mobile">助力商家快速享受移动互联网的红利盛宴,匠心式开发理念 扁平化设计视界 切入式场景营销</p>
		<div class="input-label">
			<input type="text" placeholder="输入你的联系方式或邮箱">
			<button  onclick="watting()">提交</button>
		</div>
	</div>
</div>
<div class="work-category" id="how">
	<h1>我们能做什么</h1>
	<p>我们充分切实的了解各行业痛点，核心需求及模式，提倡让客户感知产品的用户体验价值</p>
	<p>而非仅仅是产品的功能，所见即所得。/p>
	<p class="mobile">我们充分切实的了解各行业痛点，核心需求及模式，提倡让客户感知产品的用户体验价值，而非仅仅是产品的功能，所见即所得。</p>
	<div class="intro">
		<ul class="container-fluid">
			<li class="col-lg-3 col-sm-6">
				<img src="/images/icon-small.png">
				<h1>小程序开发</h1>
				<p>无需安装，触手可及，社交裂变，低成本，快速发布，商业模式验证周期短</p>
			</li>
			<li class="col-lg-3 col-sm-6 ">
				<img src="/images/icon-app.png">
				<h1>app开发</h1>
				<p>最佳的用户交互体验，满足任何需求复杂的业务</p>
			</li>
			<li class="col-lg-3 col-sm-6">
				<img src="/images/icon-eat.png">
				<h1>小游戏开发</h1>
				<p>娱乐互动，无论是拉新还是唤醒，都是最佳的获客利器</p>
			</li>			
			<li class="col-lg-3 col-sm-6">
				<img src="/images/icon-computer.png">
				<h1>大开发</h1>
				<p>小程序，微信公众号，移动端APP，PC端全网技术解决方案，项目可订制开发</p>
			</li>		
		</ul>	
	</div>

</div>
	<div class="landscape work-category" id="land">
			<h1>场景应用</h1>
			<p>广泛应用于各行各业</p>
			<ul class="container-fluid">
			<li class="col-lg-3 col-xs-6">
				<img src="/images/1.png">
				<div class="layer">
					<h1>电商买卖</h1>
					<p>信任分享加上社交裂变，助您在电商业突围</p>
				</div>

			</li>
			<li class="col-lg-3 col-xs-6">
				<img src="/images/2.png">
				<div class="layer">
					<h1>餐饮管理</h1>
					<p>提高餐饮业运营效率，降低人力资源成本</p>
				</div>
			</li>
			<li class="col-lg-3 col-xs-6">
				<img src="/images/3.png">
				<div class="layer">
					<h1>零售交易</h1>
					<p>链接零售业的上下游，将用户转化为粉丝</p>
				</div>
			</li>			
			<li class="col-lg-3 col-xs-6">
				<img src="/images/4.png">
				<div class="layer">
					<h1>旅游出行</h1>
					<p>旅行，社交，简单轻松</p>
				</div>
			</li>
			<li class="col-lg-3 col-xs-6">
				<img src="/images/5.png">
				<div class="layer">
					<h1>酒店运营</h1>
					<p>以酒店为中心链接上下游，打造新生态</p>
				</div>
			</li>
			<li class="col-lg-3 col-xs-6">
				<img src="/images/6.png">
				<div class="layer">
					<h1>教育培训</h1>
					<p>教育信息化管理，线上直播问答互动，课程内容分享</p>
				</div>
			</li>
			<li class="col-lg-3 col-xs-6">
				<img src="/images/7.png">
				<div class="layer">
					<h1>生活服务</h1>
					<p>助力智慧城市建设，便携你我的生活方式</p>
				</div>
			</li>			
			<li class="col-lg-3 col-xs-6">
				<img src="/images/8.png">
				<div class="layer">
					<h1>金融投资</h1>
					<p>助力智慧城市建设，便携你我的生活方式</p>
				</div>
			</li>			
		</ul>	
	</div>
	<div class="case-intro work-category" id="intro">
			<h1>案例介绍</h1>
			<p>我们仅仅只是多考虑了一个像素</p>
			<ul>
				<li class="col-lg-3 col-xs-6">
					<img src="/images/9.png">
					<h1>撩味餐饮项目开发</h1>
					<p>微信点餐+商家app+后厨接单系统+总平台系统</p>
				</li>
				<li class="col-lg-3 col-xs-6">
					<img src="/images/10.png">
					<h1>吕氏宗亲项目开发</h1>
					<p>天下吕氏app+后台系统</p>
				</li>
				<li class="col-lg-3 col-xs-6">
					<img src="/images/11.png">
					<h1>棋牌游戏项目开发</h1>
					<p>斗牛+麻将+炸金花+牌九+二八杠+三公</p>
				</li>
				<li class="col-lg-3 col-xs-6">
					<img src="/images/12.png">
					<h1>得意学堂项目开发</h1>
					<p>微信端报名+管理后台系统</p>
				</li>

		</ul>	
	</div>
</div>